h1 {
  font-size: 32px;
  font-style: bold;
  cursor: pointer;
}

body {
  padding: 20px;
  background-color: #fff;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-gap: 1px;
  padding: 0px;
}

li {
  background-color: #000;
  border-radius: 1px;
  padding: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

div .title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
}

div .cont {
  padding-top: 20px;
}

div .item {
  float: left;
  width: 220px;
  height: 180px;
  cursor: pointer;
}

div .img {
  width: 200px;
  height: 150px;
  overflow: hidden;
  margin: 10px;
}

.img img {
  width: 100%;
  height: auto;
}

.item p {
  margin: 10px;
  margin-top: 0;
  font-size: 12px;
}