h1 {
  font-size: 32px;
  font-style: bold;
}

body {
  padding: 20px;
  background-color: #fff;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-gap: 1px;
  padding: 0px;
}

li {
  background-color: #000;
  border-radius: 1px;
  padding: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  list-style: none;
}

.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
}

.cont {
  padding-top: 20px;
}