<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.0.min.js')}}"></script>
        <script>
            $('body').ready(function(){
                $('li').click(function(){
                    $('.cont').append($(this).text());
                });
            });
        </script>
        <title>Title</title>
    </head>
    <body>
        <div class="title">
            <h1>
                Resize this panel to see grids response
            </h1>
        </div>
        <hr>
        <div class="cont">
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
            </ul>
        </div>
    </body>
</html>