<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.0.min.js')}}"></script>
        <script>
            $('body').ready(function(){
                $(document).on("click", "li", function(){
                    var dir = "Contents/" + $(this).text() + "/"
                    $.ajax({
                        url: "getDir",
                        method: "POST",
                        data: {"dir": dir},
                        success: function(data){
                            $('.cont').empty()
                            for (i = 0; i < data.length; i++)
                                $('.cont').append("<a href='" + dir + data[i] + "'>" + data[i] + "</a>");
                        }
                    });
                });
                $.ajax({
                    url: "getDir",
                    method: "POST",
                    data: {"dir": "Contents"},
                    success: function(data){
                        for (i = 0; i < data.length; i++)
                            $('ul').append("<li>" + data[i] + "</li>");
                    }
                });
            });
        </script>
        <title>Title</title>
    </head>
    <body>
        <div class="title">
            <h1>Personal Server</h1>
        </div>
        <hr>
        <div>
            <ul>
            </ul>
        </div>
        <div class="cont">
        </div>
    </body>
</html>